# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [1]:
# ADICIONE O SEU CÓDIGO AQUI
import pandas as pd
import numpy as np

In [2]:
filmes = pd.read_csv('C:\\Users\\Ruy\\Documents\\movies.csv')
filmes

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328.0,12506188.0,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [3]:
filmes.sort_values(by = "Worldwide Gross", ascending=False)[["Major Genre", "Worldwide Gross"]]

            Major Genre  Worldwide Gross
1234             Action     2.767891e+09
2970  Thriller/Suspense     1.842880e+09
2202          Adventure     1.133027e+09
2507          Adventure     1.065660e+09
2987          Adventure     1.046341e+09
...                 ...              ...
266                 NaN              NaN
404                 NaN              NaN
467                 NaN              NaN
1025                NaN              NaN
1028                NaN              NaN

[3201 rows x 2 columns]

### Qual o diretor dirigiu mais filmes?

In [32]:
# ADICIONE O SEU CÓDIGO AQUI
pd.value_counts(filmes["Director"])

Steven Spielberg       23
Woody Allen            16
Martin Scorsese        15
Spike Lee              15
Ridley Scott           14
                       ..
Franco Zeffirelli       1
John Turturro           1
Shane Acker             1
Phil Alden Robinson     1
Vin Diesel              1
Name: Director, Length: 550, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [47]:
# ADICIONE O SEU CÓDIGO AQUI
filmes["Box Office"] = filmes["Worldwide Gross"] - filmes["Production Budget"]
filmes.sort_values(by = "Box Office", ascending=False)[["Title", "Worldwide Gross","Box Office"]]

,Title,Worldwide Gross,Box Office
1234,Avatar,2.767891e+09,2.530891e+09
2970,Titanic,1.842880e+09,1.642880e+09
2202,The Lord of the Rings: The Return of the King,1.133027e+09,1.039027e+09
485,Jurassic Park,9.230679e+08,8.600679e+08
1975,Harry Potter and the Sorcerer's Stone,9.764579e+08,8.514579e+08
...,...,...,...
404,Hell's Angels,NaN,NaN
467,Intolerance,NaN,NaN
1025,Waterloo,NaN,NaN
1028,Wings,NaN,NaN
1271,Baby Mama,6.439148e+07,NaN

In [ ]:
#Teste Concluído.